.list_block__element {
    list-style-type: none;
    cursor: pointer;
}

.list_block__element li {
    font-weight: 700;
}

.user_name {
    font-weight: 700;
}
.list_block{
    display: flex;
    flex-direction: column;
    gap: 5px;
}